.pageNavigationWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 10px;
  z-index: 9999;
}

.pageNavigationWrapper a {
  margin:5px;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  background-color: rgba(30, 144, 255, 1);
  color: white;
}

.pageNavigationWrapper a.logo {
  color: dodgerblue;
  font-size: 25px;
}

.pageNavigationWrapper a:hover {
  background-color: #ddd;
}

.pageNavigationWrapper a.active {
  background-color: rgba(30, 144, 255, 1);
  color: white;
}

.pageNavigation {
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  right: 0;
  z-index: 9999;
}

.pageNavigation > a:hover {
  background-color: rgb(45, 112, 179);
}

.toTopWrapper {
  position: fixed;
  bottom: 15px;
  right: 30px;
  width: 35px;
  height: 25px;
  z-index: 9999;
}

#topButton {
  padding: 10px 10px;
  background-color: rgba(46, 141, 236, 0.616);
  color: azure;
}

@media screen and (max-width: 500px) {
  .pageNavigationWrapper a {
    float: none;
    display: block;
    text-align: left;
  }

  .pageNavigation {
    float: none;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
