*{
	font-family: sans-serif;
}
h3{
	text-align: center; 
}
.description{
	text-indent: 20px;
	text-align: justify;
}
.Balashov{
	color: #999;
	text-decoration: none;
	transition: 0.2s ease all;
}
.Balashov:hover{
	color: #3d3d3d;
}
