@import url('https://fonts.googleapis.com/css?family=Lato');
body {
    font-family: 'Lato', sans-serif;
}
.title {
    color: #61b8ff;
    padding:10px;
    font-size: 60px;
}
div {
    margin-bottom:5px;
}
.image-title {
    margin: 100px auto 30px auto;
    display: flex;
    justify-content: center;
}
.image-title img {
    height: 300px;
    border-radius: 5px;
}