.headLogo {
	text-align: center;
}
.headLogo a:hover{
	text-decoration: none;
}
.header-wrapper {
	height: 160px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgb(201, 201, 201);
	overflow: hidden;
}
.navHeader{
	width: 500px;
	margin: 25px auto;
	font-family: tahoma, sans-serif;
	text-align: center;
	text-decoration: none;
}
.navHeader > h1 {
	color: black;
	text-decoration: none;
}
.navHeader > div {
	cursor: pointer;
	font-size: 1.2em;
	display: inline-block;
	position: relative;
}
.navHeader > div > a {
	font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    line-height: 36px;
    margin: 10px 20px;
    overflow: hidden;
    padding: 0px 15px;
    text-align: center;
    border: 1px solid rgba(30, 144, 255, 0);
    position: relative;
}
.navHeader > div > a:hover {
	color: rgb(53, 197, 241);
	background-color: #663399;
	text-decoration: none;
}
@media only screen and (max-width: 650px) {
    .header-wrapper {
		min-height: 220px;
	}
	.navHeader{
		width: 100%;
	}
	.navHeader > div {
		margin: 0px;
		padding: 0px;
		display: block;
	}
	.navHeader > div > a {
        margin: 0px;
		padding: 0px;
	}
  }