
.navHeader{
	width: 500px;
	margin: 25px auto;
	font-family: tahoma, sans-serif;
}
	.navHeader
	div{
		cursor: pointer;
		font-size: 1.2em;
		display: inline-block;
		margin-left: 50px;
	}
	.navHeader
	div
	a{
		text-decoration: none;
		color: LightBlue;
		transition: 0.2s ease color;
	}
	.navHeader
	div
	a:hover{
		color: DeepSkyBlue;
	}