
.teamContainer{
	text-align: center;
	font-size: 0.8em;
	height: 360px;
	width: 164px;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
	border-radius: 3px;
	display: inline-block;
	margin: 9px;
	transition: 0.2s ease box-shadow;
}
.teamContainer:hover{
	box-shadow: 0 0 20px rgba(25,140,200,.5);
}
.teamContainer
img{
	border-radius: 3px;
}

 